<h1>Links#index</h1>
<p>Find me in app/views/links/index.html.erb</p>

<%= link_to "New link", new_link_path, :class => "btn btn-default" %>

<ul>
  <% @links.each do |link| %>
    <li><a href ="<%= link.url %>"><%= link.name%></a></li>
  <% end %>
</ul>
